body{
    margin: 0px;
}

/* 공통 */

/* nav */
nav{
    display: flex;
    width: 100%;
    height: 45px;
    background-color: black;
    border-bottom: .5px solid white;
}

nav ul{
    display: flex;
    list-style: none;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

nav ul li{ 	
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 9px;
    font-weight: bolder;
    height: 45px;
    letter-spacing: 1px;
    border-right: .5px solid white;
}

.head p{
    margin: 0px;
}

.head .head-first{
    font-size: 15px;
    font-weight: bold;
}

.head .head-second{
    font-size: 1px;
    text-align: right;
}

.home{
    width: 16%;
    color: white;
}

.line{
    width: 14%;
    color: white;
}

.currentPage{
    color: black;
    background-color: white;
}

/* main */
.main{
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 100%;
    height: 400px; 
    background-color: black;
    color: white;
}

.main-contents{
    margin: 0px 40px;
}

.main-contents p{
    font-size: 12px;
}

.main-contents h1{
    font-size: 40px;
    margin: 5px;
}

.btns{
    margin: 23px 0px;
}

.btnFront{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 150px;
    height: 35px;
    z-index: 2;
}

.btnBack{
    width: 150px;
    height: 35px;
    position: relative;
    z-index: 1;
}

.btnFront-main{
    border: .5px solid white;
    background-color: black;
}

.btnBack-main{
    background-color: white;
    left: 3px;
    bottom: 33px;
}

.btnFront-info{
    border: .5px solid black;
    background-color: white;
}

.btnBack-info{
    background-color: black;
    right: 148px;
    top: 3px;
}

.mainImg{
    width: 180px;
    height: 250px
}

.main-Img{
    margin: 0px 40px;
}

/* section1 */
.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    height: 500px; 
    background-color: whitesmoke;
    color: black;
}

.info div{
    display: flex;
}

.info-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 25px 55px;
}

.info-text p{
    font-size: 12px;
    margin: 4px;
}

.info-text h2{
    font-weight: 100;
    margin: 4px;
}

.info-Img{
    width: 250px;
    height: 200px;
    margin: 25px 55px;
}